.git
.gitignore
.gitlab-ci.yml
.github
.editorconfig
*.md
node_modules
npm-debug.log
.env.example
.env.*.example
storage/logs/*
storage/framework/cache/*
storage/app/public
.DS_Store
Thumbs.db
*.pem
tests/
.vscode
.idea
.phpunit.result.cache
docker-compose.yml
docker-compose.*.yml
Dockerfile.dev
Dockerfile.local
tailwind.config.js
postcss.config.js
vite.config.js
package.json
package-lock.json
